{% extends 'base.html' %}

{% block title %}GPT Audit Result{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/styles.css" />

<div class="container container-custom-result">
    <h1 class="text-center text-white">Result for {{ file_path }}</h1>
    <pre class="mt-4 pre-wrap text-white">{{ audit_result }}</pre>
    <div class="text-center mt-4">
        <!-- 트리 구조로 돌아가는 버튼 -->
        <a href="{{ url_for('audit_bp.tree_view') }}" class="btn btn-orange text-white">Go back to project structure</a>
    </div>
</div>
{% endblock %}
