{% extends 'base.html' %}
{% block title %}Audit Result{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/styles.css" />

<div class="container container-custom-tree">
    <h1 class="text-center text-white">Project File Tree</h1>
    <pre class="mt-4">
        <form action="{{ url_for('gpt_bp.audit_file') }}" method="POST" id="file-form">
{{ tree_output|safe }}
            <input type="hidden" name="tree_structure" value="{{ tree_output }}">
            <input type="hidden" id="file-path-input" name="file_path">
        </form>
    </pre>
    <div class="text-center mt-4">
        <a href="{{ url_for('audit_bp.audit') }}" class="btn btn-orange text-white">Upload another project</a>
    </div>
</div>

<script>
    // 트리 구조에서 특정 파일 클릭 시 파일 경로를 폼에 전달하는 스크립트
    document.querySelectorAll('.file-link').forEach(fileLink => {
        fileLink.addEventListener('click', function (event) {
            event.preventDefault();
            const filePath = this.dataset.filePath; // 파일 경로
            document.getElementById('file-path-input').value = filePath;
            document.getElementById('file-form').submit(); // 폼 제출
        });
    });
</script>
{% endblock %}
