<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Foo1ish{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- 네비게이션 바 -->
    {% if request.endpoint != 'auth_bp.login' and request.endpoint != 'auth_bp.register' %}
        {% include 'nav.html' %}
    {% endif %}
    
    <!-- 배경 도형들을 위한 컨테이너 -->
    <div class="background-container">
        {% for _ in range(100) %}
            <div class="line"></div>
        {% endfor %}
        {% for _ in range(50) %}
            <div class="circle"></div> <!-- 새로운 원형 도형 추가 -->
        {% endfor %}
    </div>

    <div class="container" style="padding-top: 50px;">
        {% block content %}{% endblock %}
    </div>
    

    <!-- 부트스트랩 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        // 랜덤 위치 설정 함수
        function setRandomPositions() {
            const lines = document.querySelectorAll('.line');
            const circles = document.querySelectorAll('.circle'); // 원형 도형도 추가
            const screenWidth = window.innerWidth;
            const screenHeight = window.innerHeight;
    
            let previousPositions = []; // 이전 선분들의 위치 저장
    
            // 직사각형 라인 배치
            lines.forEach(line => {
                let randomTop, randomLeft;
                randomTop = Math.random() * (screenHeight - 30);
                randomLeft = Math.random() * (screenWidth - 500);

                previousPositions.push({ top: randomTop, left: randomLeft });
    
                line.style.top = randomTop + 'px';
                line.style.left = randomLeft + 'px';
            });

            // 원형 도형 배치
            circles.forEach(circle => {
                let randomTop, randomLeft;
                randomTop = Math.random() * (screenHeight - 100); // 원의 크기 고려
                randomLeft = Math.random() * (screenWidth - 100); // 원의 크기 고려
    
                circle.style.top = randomTop + 'px';
                circle.style.left = randomLeft + 'px';
            });
        }
    
        // 페이지 로드 시 실행
        window.onload = setRandomPositions;
        window.onresize = setRandomPositions; // 화면 크기 변경 시에도 적용
    </script>
    
</body>
</html>
